<h1>{{title}}</h1>


<body>
<p>




<input type="text" name="code"   value="code" id="code"> </input>



<br> <br>
<br>  <br>

<button  name="btn"  id="btn"   > press </button>


<br>



<div  align="right " >

  <svg  id="demo"  >


  <path d="M150 0 L75 200 L225 200 Z"   />


</svg>

</div>


 </p>
</body>
